[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
pyyaml = "*"
validators = "*"
pytest = "*"
coverage = "*"
pipenv-setup = "*"
vistir = "0.6.1"

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
